<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
	<div id = "divHeader">
		<img class = "imgBanner" src="img\banner.jpg">		
		<div id = "divHeaderMenu">
			<a href = "/home">Home</a>
			<a href = "/login">Login</a>
			<a href = "/upload">Upload</a>
			<a href = "/login">About</a>
		</div>
	</div>
	
	<picture>
		<source srcset = "img\m_about.jpg" media="(max-width: 700px)">
		<source srcset="img\about.jpg">
		<img src="img\about.jpg">
	</picture>
	
	<div class = "divMainContent">
		<div class = "divContentCard" id = "divAbout">
			<h2>About</h2>
			<p>
				[Site Name] is a celebration of the nature of space. Providing only a glimpse of the majesty of the cosmos,
				this website simultaneously showcases the wonders that lay beyond our pale, blue dot.
			</p>
			<p>
				Combining his passion for space and programming, [Site Name] was written by Andrew Udell. Using Flask as a backend
				and vanilla JavaScript in the frontend, this website stands a part of his portfolio. To see how it was written, 
				take a look at the github page <a href = "">here</a>
			</p>
			<p>
				To see more of Andrew's work, check out his Github profile <a href = "">here.</a>
			</p>
			<p>
				To reach out to Andrew professionally, view his LinkedIn profile <a href = "">here.</a>
			</p>
			<p>
				This site was only made possible by the photographs provided by the open source community. My sincerest thanks to [], [], and [].
			</p>
		</div>
	</div>
</body>
</html>