<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
	<link rel="shortcut icon" href="#">
</head>
<body>
	<div id = "divHeader">
		<img class = "imgBanner" src="{{ url_for('static', filename = 'img/banner.jpg') }}">		
		<div id = "divHeaderMenu">
			<a href = "/home">Home</a>
			{% if logged_in %}
				<a href = "/logout">Logout</a>
			{% else %}
				<a href = "/login">Login</a>
			{% endif %}
			<a href = "/upload">Upload</a>
			<a href = "/login">About</a>
		</div>
	</div>
	
	<picture>
		<source srcset = "{{ url_for('static', filename = 'img/m_upload.jpg') }}" media="(max-width: 700px)">
		<source srcset="{{ url_for('static', filename = 'img/upload.jpg') }}">
		<img src="{{ url_for('static', filename = 'img/upload.jpg') }}">
	</picture>
	
	<div class = "divMainContent">
		<div class = "divContentCard" id = "divUpload">
			<form action = "/upload" method = "post" id = "frmUpload" onsubmit = "return validateUploadInput(this);" enctype="multipart/form-data">
				<h2>Upload an Image</h2>
				<input type = "text" class = "txtInput" name = "txtTitle" placeholder = "Title">
				<br>
				<input type = "text" class = "txtInput" name = "txtCaption" placeholder = "Caption">
				<br>
				<input type = "file" name = "fileUpload" accept = ".jpeg, .jpg, .png, .gif">
				<br>
				<input type="submit" value="Submit" id = "btnUpload">
				{% if error != "" %}
					<p style = "color: red;">{{ error }}</p>
				{% endif %}
                <p>[The Jerezo Crater on Mars. Image courtesy of NASA.]</p>
			</form>
		</div>
	</div>
	<script src = "{{ url_for('static', filename = 'js/validate.js') }}"></script>
	<script src = "{{ url_for('static', filename = 'js/upload.js') }}"></script>
</body>
</html>